*{box-sizing: border-box;}

html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: #F5F6FA;
}

.head{
    margin-left: 25%;
    margin-top: 20px;
    width: 126px;
    height: 29px;
    font: normal normal 600 21px/31px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

header{
    display: flex;
    flex-direction: row;
    top: 61px;
    left: 0px;
    height: 75px;
    width: 100%;
    margin: 0%;
    background: #446DFF 0% 0% no-repeat padding-box;
    opacity: 1;
    
}

.header-content{
    text-align: left;
    font: normal normal normal 25px/30px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    height: calc(100% - 200px);
    width: 100%; 
    /* background: lemonchiffon; */
    background: #F5F6FA 0% 0% no-repeat padding-box;
}


.main-items{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    margin-left: 520px;
    margin-top: 60px;  
    /* background: chocolate; */
    width: 35%;
    height: calc(100% - 350px);
    margin-bottom: 0%;
}

.choose{
    text-align: left;
    font: normal normal medium 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    /* background: teal; */
    margin-left: 12px;
}

.images{
    display: flex;
    /* background-color: thistle; */
    padding: 10px;
}

.image{
    width: 173px;
    height: 137px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    /* margin: auto; */
    margin-right: 20px;
    cursor: pointer;
}

.image:hover{
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 7px;
    opacity: 1;
}

.hover-green:hover{
    background: #EDFDF9 0% 0% no-repeat padding-box;
    border: 1px solid #0EC098;
}

.hover-red:hover{
    background: #FFEEF0 0% 0% no-repeat padding-box;
    border: 1px solid #FD5160;
}

.hover-purple:hover{
    background: #E8DDFF 0% 0% no-repeat padding-box;
    border: 1px solid #7224FF;
}


img{
    /* transform: matrix(0, 1, -1, 0, 0, 0); */
    margin-top: 20px;
    margin-left: 70px;
    opacity: 1;
    background: transparent 0% 0% no-repeat 
}

.quantity{
    width: 55px;
    height: 19px;
    margin: auto;
    /* margin-left: 50px; */
    font: normal normal medium 15px/19px Montserrat;
    letter-spacing: 0px;
    color: #C9C9C9;
    text-transform: capitalize;
    opacity: 1;
}

.length{
    width: 12px;
    height: 46px;
    margin-bottom: 9px;
}

.temperature{
    width: 30px;
    height: 57px;
}

.volume{
    width: 46px;
    height: 48px;
    margin-bottom: 9px;
    margin-left: 57px;
}

.convert-items{
    display: flex;
    flex-direction: row;
    /* background-color: hotpink; */
    width: 35%;
    height: calc(100% - 350px);
    margin-left: 520px;
    margin-top: 0%;
}

.from{
    display: flex;
    /* background-color: indigo; */
    width: 100%;
}
.to{
    display: flex;
    /* background-color: lightblue; */
    width: 100%;
}

.p{
    margin-left: 15px;
    width: 38px;
    height: 15px;   
    text-align: left;
    font: normal normal medium 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 0.62;
}

select{
    width: 250px;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E7DCFE;
    border-radius: 3px;
    opacity: 1;
    margin-left: 12px;
    text-align: left;
    font: normal normal normal 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
}

input{
    width: 250px;
    height: 55px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E7DCFE;
    border-radius: 3px;
    opacity: 1;
    margin-left: 12px;
    text-align: left;
    font: normal normal medium 31px/40px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: bolder;
    font-size: 20px;
}

/* onclick Css */
.len-new{
    background: #EDFDF9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0EC098;
    border-radius: 7px;
    opacity: 1;
}

.temp-new{
    background: #FFEEF0 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FD5160;
    border-radius: 7px;
    opacity: 1;
}

.vol-new{
    background: #E8DDFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #7224FF;
    border-radius: 7px;
    opacity: 1;
}

.length-color{
    color: #0EC098;
}

.temp-color{
    color: #FD5160;
}

.vol-color{
    color: #7224FF;
}

